
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: black;
}

body{
    background-color: black;
    
}

.header{
    background-color: black;
    background-size: cover;
    display: block;
    height: 20cm;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Resources/greenhouse_garden_flowers_124398_1920x1080.jpg);
    
}



.inner-header{
       
    width: 1000px;
    height: 100px;
    display: block;
    margin: 0 auto;
    background-color: black;
}

.logo-container{
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1{
    color: indianred;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.logo-container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100px;
    display: table;
    float: left;
    padding: 0px 20px;
    color: white;
}

.navigation a:last-child{
    padding-right: 0;
}
.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/*#about{
    padding: 100px;
    opacity: ;
}*/

.about{
    text-align: center;
    
}

.about h2{
    color: white;
    font-size: 1cm;
}

.about p{
    color: white;
    text-align: center;
    font-size: 0.6cm;
}

#mjulus{
    width: 400px;
    height: 425px;
    float: right;
    position: relative;
    top: -150px;
    right: 80px;
    opacity: initial;
    
}

#Slide{
    margin: 50px;
    border-color: indianred;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#car h5, p{
    color: indianred;
}

.navigation ul{
    float:right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 10px;

}
ul li{
   display: inline-block;
}
.navigation ul li a{
   text-decoration: none;
   color: indianred;
   padding: 460px 460px;
   border: 1px soliD transparent;
   transition: 0.6s ease;
}
ul li a:hover{
   background-color: indianred;
   color: white;

}
ul li.active a{
   background-color: indianred;
   color: white;
}

.card{
    width: 320px;
    padding: 5px;
    border: 5px indianred;
    margin: 0;
  }

  .card img{
      width: 308px;
  }




